# Ignore git files
.git
.gitignore

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
yarn-error.log

# Ignore coverage files
/coverage_js
/coverage_ruby

# Ignore assets
/node_modules
/public/packs
/public/packs-test
/public/assets
